
.logo{
    font-size: 80px;
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    flex-direction: row;
    font-family: 'Monteserrat', sans-serif; 
    padding: 20px;
    font-weight: bold;
}

.right_header{
    display:flex;
    position: fixed;
    right: 0;
    align-items: stretch; 
    justify-content: space-evenly;
    align-content: flex-start;
    min-width: 25vw;
}

.left_header{
    display: flex;
    position: fixed;
    left: 0;
    min-width: 10vw;
    justify-content: space-evenly;
    align-content: flex-start;
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 18%;    
}

a:link{
    text-decoration: none;    
}
a:link {color: black;}
a:visited {color: purple;}
a:hover {color :grey;}
a:active {color: red;}

.left{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 30vw;
    justify-content: space-around;
}

.right {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px; 
    align-items: stretch;   
    justify-content: space-between;
    min-width: 20vw;
}

.search_bar:hover {
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(33,33,33,.2);
    border-radius: 20px;
}

.search_bar > .text{
    border-radius: 23px;
    width: 30vw;
    height: 4vh;
    border: .5px solid gainsboro;
    outline: none; /* this takes away an outline when clicked on, it was kinda ugly*/
    padding: 5px;
    font-size: 14pt;    
}
  

 